In [86]:
from pandas import *
from SegundoSemestre import R_,K_,A_
import math
data=Series([64,89,36,49,56,64,59,35,78,43,53,70,57,62,43,68,62,26,64,72,52,51,62,60,71,61,55,59,60,67,57,67,61,67,51,81,53,64,76,44,73,56,62,63,60])

In [107]:
rr = R_(data)
rr

63

In [110]:
kk=K_(50)
kk=8
kk

8

In [111]:
aa=A_(rr,kk)
aa

8.0

In [112]:
ls=df.groupby(cut(data,list(range(26,91,kk)),right=False)).count()
ls.reset_index()["Frecuencia"]

0     1
1     2
2     4
3    10
4    16
5     8
6     3
7     1
Name: Frecuencia, dtype: int64

In [123]:
df2 = DataFrame({"MarcaClase":list(range(30,87,kk)),"Frecuencia":ls["Frecuencia"]})
df2["FrecuenciaAcumulada"]=df2["Frecuencia"].cumsum()
df2["FrecuenciaRelativa"]=df2["Frecuencia"].div(df2["Frecuencia"].sum()).round(2)
df2["FrecuenciaRelAcum"]=df2["FrecuenciaRelativa"].cumsum()
df2

,MarcaClase,Frecuencia,FrecuenciaAcumulada,FrecuenciaRelativa,FrecuenciaRelAcum
"[26, 34)",30,1,1,0.02,0.02
"[34, 42)",38,2,3,0.04,0.06
"[42, 50)",46,4,7,0.09,0.15
"[50, 58)",54,10,17,0.22,0.37
"[58, 66)",62,16,33,0.36,0.73
"[66, 74)",70,8,41,0.18,0.91
"[74, 82)",78,3,44,0.07,0.98
"[82, 90)",86,1,45,0.02,1.00